
#bgdetails{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.BGTitle{
    font-size: 2.75rem;
    font-weight: 600;
    padding: 1rem;
    margin: 3rem;
}

.BGContainer{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-bottom: 5rem;
}

.BGCard{
  margin:1rem; 
  padding: 1rem;
  border-radius: 0.5rem;
  width: 18rem;
  padding-top: 0.5rem;
  background-color: rgb(50,50,50);
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgba(0,0,0,1) !important;
  color: #eee;
  padding: 30px;
  border-radius: 20px !important;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: hidden;
  position: relative;
  box-shadow: 0 0 15px #ffa500;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 28px;
  color: #ffa500;
  cursor: pointer;
}

.modal-close:hover {
  color: #ffa500;
}

.BGHeaders{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.BGHeader{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
}

.BGSubtext{
    font-size: 0.9rem;
    font-weight: 300;
}

.BGInfo {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
    background-color: #ffa500;
    color: black !important;
    height: 17px;
    width: 37px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 100;
}

.BGYear{
    font-size: 0.9rem;
    font-weight: 400;
}

.BGImg{
    height: 10rem;
    width: 10rem;
    opacity: 0.15;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

@media screen and (max-width:360px) {
    .BGTitle{
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {

  .modal-overlay {
    padding: 1.5rem;
  }
  .modal-list-container {
    font-size: small;
  }

}