#certifications{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.CRTitle{
    font-size: 2.75rem;
    font-weight: 600;
    margin: 1rem;
}

.CRGroup{
    margin-bottom: 3rem;
    display: flex;
    max-width: 65rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.CRItem{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(40,40,40);
    padding: 1rem;
    margin: 1rem;
    width:30rem;
    border-radius: 0.5rem;
}

.CRItem>p{
    font-size: 0.95rem;
    font-weight: 400;
    width: 28rem;
}

.CRCert{
    display: flex;
    text-align: left;
}


@media screen and (max-width:480px) {
    .CRTitle{
        padding-bottom: 0;
    }

    .CRItem>p{
        width: 21rem;
        font-size: 0.9rem;
        font-weight: 400;
    }
}