#certifications{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.CRTitle{
    font-size: 2.75rem;
    font-weight: 600;
    margin: 1rem;
}

.CRGroup{
    margin-bottom: 3rem;
    display: flex;
    max-width: 65rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.CRItem{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-content: center;
    background-color: rgb(40,40,40);
    padding: 3rem 1rem;
    margin: 0.5rem;
    width:30rem;
    border-radius: 0.5rem;
    position: relative;
}

.CRItem>p{
    font-size: 0.95rem;
    font-weight: 400;
}

.CRSponser{
    display: flex;
    text-align: center;
    padding-top: 0.7rem;
}

.CRImg{
    height: 1.5rem;
    margin-right: 1rem;
}

.CRTechLogo{
    height: 10rem;
    width: 10rem;
    opacity: 0.1;
    right: 2rem;
    bottom: 0.5rem;
    position: absolute;
}




@media screen and (max-width:520px) {
    .CRTitle{
        padding-bottom: 0;
    }

    .CRItem{
        width: 22.5rem;
    }

    .CRItem>p{
        font-size: 1rem;
        font-weight: 400;
    }
}

@media screen and (max-width:400px) {

    .CRItem{
        width: 20rem;
    }

    .CRItem>p{
        font-size: 1rem;
        font-weight: 400;
    }
}
