#intro{
    height: calc(100vh -4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #00000055;
    padding: 0 10rem;
    border-radius: 0.5rem;
}

.INPicture{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80vh;
    opacity: 0.5;
    
}

.INContent{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.377);
}

.INHello{
    font-size: 1.75rem;
    font-weight: 500;
}
.INIntro{
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.INName{
    font-size: 3rem;
    font-weight: 700;
    color: orange;
}

.INPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.INVias{
    justify-content: space-between;
    width: 9rem;
}

.INVia{
    background-color: rgb(30,30,30);
    border-color: white;
    border-radius: 0.5rem;
}

.INViaLogo{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}

.INViaLogo1{
    height: 1.2rem;
    width: 1.2rem;
    margin: 0.65rem;
}

.INContent>a{
    text-decoration: none;
}

@media screen and (max-width:1050px) {
    #intro{
        padding: 0 5rem;
    }
    .INIntro{
        font-size: 2.3rem;
    }
    .INName{
        font-size: 2.7rem;
    }
    .INHello{
        font-size: 1.5rem;
    }
    .INPara{
        font-size: 1rem;
    }
}

@media screen and (max-width:840px) {
    .INPicture{
        right : 0;
        top:4rem;
    }
    .INName{
        font-size: 2.5rem;
    }
    .INIntro{
        font-size: 2rem;
    }
    .INHello{
        font-size: 3.5vw;
    }
    .INPara{
        font-size: 1rem;
    }
    #intro{
        padding: 0 4rem !important;
    }
}

@media screen and (max-width:640px) {
    .INPicture{
        right : 0;
        top:4rem;
    }
    .INIntro{
        font-size: 2.2rem;
    }
    .INName{
        font-size: 2.7rem;
    }
    .INHello{
        font-size: 4vw;
    }
    .INPara{
        font-size: 3vw;
    }
    #intro{
        padding: 0 3rem !important;
    }
}

@media screen and (max-width:480px){
    .INPicture{
        right: 0rem;
    }
    .INIntro{
        font-size: 2rem;
    }
    .INName{
        font-size: 2.5rem;
    }
    .INHello{
        font-size: 1.7rem;
    }
    .INPara{
        font-size: 1rem;
    }
    #intro{
        padding: 0 2rem !important;
    }
}

@media screen and (max-width:372px){
    .INIntro{
        font-size: 1.4rem;
    }
    .INName{
        font-size: 1.6rem;
    }
    .INHello{
        font-size: 1rem;
    }
    .INPara{
        font-size: 0.8rem;
    }
}



.typewritercss{
    background-color: rgba(41, 41, 41, 0.65);
}