.NVConatiner{
    background-color: rgb(30,30,30);
    height: 4rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    max-width: 75rem;
    justify-content: space-between;
    position: sticky;
    z-index: 3;
    top:0;
}

.NVLogo{
    height: 2.2rem;
}

.NVContact{
    display: flex;
    padding: 10px;
    background-color: aliceblue;
    border-color: aliceblue;
    color: black;
    border-radius: 3rem;
}

.NVMenuItem{
    color: white;
    margin: 1rem;
    text-decoration-line: none;
    cursor: pointer;
}

.NVMenuItem:hover{
    color: orange;
    padding-bottom: 1rem;
    border-bottom: 3px solid orange;

}

.NVContactLogo{
    margin: 2px 5px 0px 10px;
}

.NVContactText{
    margin-right: 10px;
    font-size: small;
    font-weight: 600;
}

.NVBurger{
    display: none;
    color: orange;
    font-size: 2rem;
}

.NVAltMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(40,40,40);
    border-bottom-left-radius: 0.5rem;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: fit-content;
}

.NVAltItem{
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: rgb(30,30,30);
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

@media screen and (max-width:525px) {
    .NVBurger{
        display: block;
    }

    .NVContact{
        display: none;
    }

    .NVMenu{
        display: none;
    }
}