#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.SKTitle{
    font-size: 2.75rem;
    font-weight: 600;
    padding: 1rem;
}

.SKSkills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SKCategory{
    font-size: 2rem;
    font-weight: 500;
}

.SKSkill{
    padding: 1rem 0.5rem;
    background-color: rgb(40,40,40);
    margin: 1rem;
    border-radius: 0.5rem;
    width: 40rem;
}

.SKBars{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.SKBar{
    background: rgb(50, 50, 50);
    display: flex;
    margin: 1rem;
    padding-right: 1rem;
    width: fit-content;
    border-radius: 0.5rem;
}

.SKText>span{
    font-size: larger;
    font-weight: 500;
}

.SKImg{
    height: 2rem;
    width: 2rem;
    margin: 0.9rem;
}

.SKText{
    margin-top: 0.8rem;
}

.SKLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40rem;
}

.SKLink{
    padding: 0.5rem 1rem;
    background-color: rgb(60, 60, 60);
    color: white;
    border-radius: 0.5rem;
    font-size: larger;
    font-weight: 500;
    margin: 0.5rem;
}

.SKLinkLogo{
    font-size: 1rem;
    margin-left: 0.5px;
}

.SKLinks>a{
    text-decoration: none;
}

@media screen and (max-width:590px) {
    .SKSkill{
        width: 25rem;
    }
}

@media screen and (max-width:480px) {
    .SKTitle{
        padding-bottom: 0;
    }
    .SKSkill{
        width: 20rem;
    }
    .SKBars{
        margin-top: 1rem;
    }
    .SKBar{
        margin: 0.5rem;
    }
}

@media screen and (max-width:340px) {
    .SKTitle{
        font-size: 2.5rem;
    }
    .SKCategory{
        font-size: 1.5rem;
    }
    .SKSkill{
        width: 16rem;
        font-size: 0.9rem;
    }
    .SKImg{
        height: 1.5rem;
        width: 1.5rem;
    }
    .SKBars{
        margin-top: 0.5rem;
    }
    .SKBar{
        margin: 0.5rem;
    }
}




