#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.SKTitle{
    font-size: 2.75rem;
    font-weight: 600;
    padding: 1rem;
}

.SKSkills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SKCategory{
    font-size: 1.9rem;
    font-weight: 400;
}

.SKSkill{
    padding: 1rem 0.5rem;
    background-color: rgb(40,40,40);
    margin: 1rem;
}

.SKBars{
    margin: 1rem;
    max-width: 80%;
}

.SKBar{
    background: rgb(50, 50, 50);
    display: flex;
    margin: 1.5rem;
    width: 18rem;
    border-radius: 0.5rem;
}

.SKImg{
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}

.SKText{
    margin-top: 1rem;
}


@media screen and (max-width:480px) {
    .SKTitle{
        padding-bottom: 0;
    }
    .SKBars{
        margin-top: 0;
    }
    .SKImg{
        margin-top: 2rem;
    }
}




