#secskills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.SKTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
}

.SKPara{
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding:2rem;
}

.SKBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.SKBar{
    background: rgb(50, 50, 50);
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.SKImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}